.wrapperItems {
  user-select: none;
  outline: 0;

  .item {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0.75rem 0;

    .title {
      display: flex;
      flex-direction: column;
    }

    .email {
      align-items: flex-start;
      color: var(--color-dark-100);
    }
  }
}
