.avatarRoot {
  user-select: none;

  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  border-radius: 100%;

  .avatarImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
  }

  .avatarFallback {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    font-size: var(--font-size-m);
    font-weight: var(--font-weight-regular);
    color: var(--color-light-100);

    background-color: var(--color-accent-500);
  }
}
