.wrapperPopUp {
  position: absolute;
  top: 50px;
  right: -12px;

  width: 217px;
  height: 147px;
  padding: 12px;

  opacity: 0;
  background-color: var(--color-dark-500);
  border: solid 1px var(--color-dark-100);
  border-radius: 4px;

  transition: all 0.3s;

  &::after {
    content: '';

    position: absolute;
    top: -6px;
    right: 20px;
    transform: rotate(45deg);

    width: 10px;
    height: 10px;

    background-color: inherit;
    border-top: solid 1px var(--color-dark-100);
    border-left: solid 1px var(--color-dark-100);
  }

  .userInfo,
  .item {
    display: flex;
    gap: 8px;
    align-items: center;

    .avatar {
      width: 36px;
      height: 36px;
      object-fit: cover;
      border-radius: 50%;
    }

    .title {
      display: flex;
      flex-direction: column;

      .email {
        color: var(--color-dark-100);
      }
    }
  }

  hr {
    margin: 0.75rem 0;
    border: none;
    border-top: 1px solid var(--color-dark-100);
  }
}

.active {
  opacity: 1;
}
